@import url('https://fonts.googleapis.com/css?family=Open+Sans:400, 700');

body {
	background-color: white;
	font-family: "Open Sans", sans-serif;
	padding: 5px 25px;
	pont-size: 18px;
	color: #444;
}

h1 {
	color: #ffed29;
	font-size: 48px;
}

p {
	color: #2ee7ff;
	font-size: 18px;
}

ol {
	color: #ff0000;
	font-size: 18px;
}